[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "rgeoboundaries"]
	path = rgeoboundaries
	url = https://github.com/wmgeolab/rgeoboundaries
